{% extends 'layout.html' %}
{% set active_page = "contact" %}

{% block content %}
<h1>{{title}}</h1>
<div class="form-wrapper">
    <h2 class="title">Send us a message!</h2>

    <form method="POST" action="/contact">

        <fieldset class="form-field">
            {{ form.name.label }}
            {{ form.name(size=20) }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.email.label }}
            {{ form.email }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.body.label }}
            {{ form.body }}
        </fieldset>

        {{ form.submit }}

    </form>
</div>
{% endblock %}